# Go
diary.exe
diary
diary.zip
dist-package/
dist-package.zip
*.db
*.db-journal
*.log

# Node.js / Frontend
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Environment variables
.venv
.env
.env.local
.python-version


config.toml